<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1>My Room</h1>
    <% if(room){ %>
        <div>
            <%=name%>
            <%=room%>
            <button><a href="myroom/posts">Add posts</a></button>
        </div>
    <%}else{%>
        No room created 
        <button><a href="/createroom">Create room</a></button>
    <%}%>
</body>
</html>